<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    {%- block head ~%}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {%~ include 'partials/metatags.html.twig' with {page, site} only ~%}
      <link href="{{ asset('scss/style.scss')|url }}" rel="stylesheet" />
    {%- endblock head ~%}
  </head>
  <body>
    {% include 'partials/header.html.twig' %}
    <div class="page-content p-3" id="content">
      <div class="container">
        {%- block content ~%}
          {% include 'partials/languages.html.twig' %}
          {%- block content_header %}
            <div class="take-back-control">
              <h2 id="page-title">{{ page.title }}</h2>
            </div>
          {% endblock content_header ~%}
          {{ page.content }}
          {%- block content_footer %}{% endblock content_footer ~%}
        {%- endblock content ~%}
      </div>
    </div>
    {% include 'partials/footer.html.twig' %}
  </body>
</html>