@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/AtkinsonHyperlegible-Regular.woff2') format('woff2'),
        url('/fonts/AtkinsonHyperlegible-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Bitter';
    src: url('/fonts/Bitter-Medium.woff2') format('woff2'),
    url('/fonts/Bitter-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
