
{#
<nav aria-label="breadcrumb" class="page-breadcrumbs">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/{{ page.section }}">{{ page.section|capitalize }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
  </ol>
</nav>
#}